#centered_small_icon{
    background-position: center;
    background-image: url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-color: blue;
    background-size: 40px;
    background-repeat: no-repeat;
    width: 50%;
    height: 200px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
#green_line {
    background-color: green;
    width: 50%;
    height: 200px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
#full_width_icon {
    background-repeat: no-repeat;
    background-position: center;
    background-color: red;
    background-image: url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-size: 100%;
    width: 50%;
    height: 200px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
#repeated_icon {
    background-image: url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-size: 40px;
    background-color: purple;
    width: 50%;
    height: 200px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}