#figure1 {
    border: 1px solid;
    height: 150px;
    width: 170px;
}
#figure2 {
    border: 4px solid;
    padding: 16px 16px 16px 16px;
}
#figure3 {
    border: 1px solid orange;
    margin: 20px 20px 20px 20px;
}
#figure4 {
    border: 1.5px solid deepskyblue;
    border-radius: 5px 5px 5px 5px;
    width: 50%;
    height: 100px;
    padding-left: 5px;
}
#figure5 {
    border: 1px solid;
    padding-left: 30px;
}
#figure6 {
    border: 1px solid;
    margin-left: 30px;
}
#figure7 {
    border: 3px solid lightblue;
    border-radius: 10px 10px 10px 10px;
    padding: 15px 20px 60px 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
}