.button {
    padding: 20px;
}
#first {
    justify-content: space-between;
}
#second {
    flex-direction: column-reverse;
    justify-content: center;
}
#third {
    justify-content: flex-start;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
#forth {
    justify-content: flex-start;
}
nav {
    background-color: lightblue;
    margin: 20px;
    display: flex;
}
main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}
#b2 {
 width: 59%;
}
#b3 {
    display: flex;
    order: -1;
}
.x {
    background-color: greenyellow;
    margin: 10px;

}
