header {
    background-color: black;
    color: white;
}
a {
    color: white;
}
body {
    margin: 0;
}
#div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
div {
    margin-top: 20px;
    text-align: center;
}
header {
    padding: 80px 15% 80px 15%;
}
@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    header {
        text-align: center;
    }
}
@media (min-width: 300px) and (min-width: 601px) {
    nav {
        display: flex;
        justify-content: space-between;
    }
}