.caixa {
    background-color: darkseagreen;
    width: 150px;
    height: 100px;
    padding: 15px;
    border-radius:  5px;
}
#caixa1 {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
#caixa2 {
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#section {
    clear: both;
}