main {
    position: fixed;
    background-color: lightskyblue;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

}
#clouds {
    position: static;
    background-image: url("../img/clouds.png");
    width: 100%;
    height: 80px;
}
#mario {
    position: fixed;
    background-image: url("../img/mario.png");
    background-repeat: no-repeat;
    bottom: 14px;
    width: 100%;
    height: 100px;

}
#base {
    position: fixed;
    background-image: url("../img/base.png");
    width: 100%;
    height: 15px;
    bottom: 0;
}