p {
    border: 0.7px solid;
}
#figure1 {
    background-color: cadetblue;
}
#figure2 {
    background-color: coral;
}
#figure3 {
    background-color: antiquewhite;
}
@media (max-width: 600px) {
    #figure2 {
        display: none;
    }
    #figure3{
        padding-bottom: 10px;
        padding-top: 10px;
    }

}
@media (min-width: 300px) and (min-width: 601px) {
    #figure1 {
        font-size: 50px;
        font-weight: bold;
    }
    #figure3 {
        padding-left: 100px;
        padding-bottom: 100px;
        padding-top: 100px;
    }
}